.btn
    &, &:focus, &:active
        background white
        color mainColorDark
        font-size 1rem
        padding 10px 0
        transition background-color linear .2s

    &:focus
        background-color mainColorDark

    &_main
        background-color mainColor

        &, &:focus
            color white

    &_sm
        width 200px
