.btn
    &, &:focus
        background white
        color mainColorDark
        font-size 1rem
        padding 10px 0

    &_primary
        transition background-color linear .2s
        background-color mainColor

        &:hover
            background-color getColorWithOpacity(mainColorDark, .8)

        &:focus
            background-color mainColorDark

        &, &:focus
            color white

    &_secondary
        transition background-color linear .2s, color linear .2s
        color mainColorDark

        &:hover
            background-color mainColor
            color white

        &^[0]_bordered
            border 1px solid mainColor

        &:focus
            background-color mainColorDark
            color white
            border 1px solid mainColorDark

    &_sm
        width 200px
