.text
    &-center
        text-align center
    &-left
        text-align left
    &-right
        text-align right

.text-main-color
    color mainColor

.fw-600
    font-weight 600

.link
    color mainColor

    &:hover
        text-decoration underline
        color mainColor
.cursor-pointer
    cursor pointer

.input_null
    background none
    border none
    padding 0
    &:focus
        outline none

