.container
  max-width 1460px
  margin 0 auto
  @media (max-width 1460px)
    padding 0 10px
  &_big
    max-width 1700px
.flexWrapper
  display flex
  &_J-C
    justify-content center
  &_A-C
    align-items center
  &_column
    flex-direction column
  &_J-SB
    justify-content space-between
  &_J-FE
    justify-content flex-end
  &_A-FE
    align-items flex-end