.container
  max-width 1200px
  margin 0 auto
  @media (max-width 1460px)
    padding 0 10px

  &_big
    max-width 1700px

.flex-wrapper
  display flex

  &_J-C
    justify-content center

  &_A-C
    align-items center

  &_column
    flex-direction column

  &_J-SB
    justify-content space-between

  &_J-FE
    justify-content flex-end

  &_A-FE
    align-items flex-end

.stretched-link
  position absolute
  top 0
  left 0
  width 100%
  height 100%
