.form
    display flex
    flex-direction column
    font-size .9em


    &__label
        margin-bottom 5px
        font-size .9em

        input[type=checkbox] + &
            margin-bottom 0

    &__row
        margin-bottom 10px
        & ^[0]__group
            margin-left 5px
            margin-right 5px

            ^[0]__row_no-margin-sm&
                margin-bottom 0
                @media (max-width 600px)
                    margin-left 0
                    margin-right 0
                    margin-bottom 10px

            &:first-child
                margin-left 0

            &:last-child
                margin-right 0
        &_no-margin-sm
            @media (max-width 600px)
                margin-bottom 0

    &__control
        display block
        margin 0
        background white
        border 1px solid lightgrey
        height 25px
        color mainColorDark
        font-size .9em
        padding 5px
        transition border ease-in-out .2s
        border-radius unset

        textarea&
            height auto

        &:focus
            outline unset
            border 1px solid mainColorLight

        input[type=checkbox]&
            display none
            & + label
                position relative
                display flex
                padding-left 20px
                cursor pointer

                &:before
                    content ''
                    display block
                    top 2px
                    left 0
                    position absolute
                    width 10px
                    height 10px
                    border-radius 3px
                    padding 2px
                    border 1px solid mainColor

                &:after
                    left 0
                    top 2px
                    position absolute
                    content ''
                    display block
                    height 12px
                    width 12px
                    margin 2px
                    border-radius 2px
                    background-color white
                    transition background-color ease-out .3s

            &:checked
                & + label
                    &:after
                        background-color mainColor

    &__invalid-message
        display none
        font-size .6rem

    &__group
        margin-bottom 10px
        display flex
        flex-direction column

        &:last-child
            margin-bottom 0

        &.invalid
            & ^[0]__control
                border 1px #ef3b3b solid

            & ^[0]__invalid-message
                color #ef3b3b
                display block

        &.valid
            & ^[0]__control
                border 1px #49dd49 solid

