.form
    display flex
    flex-direction column

    &__label
        margin-bottom 5px
        font-size .9rem

    &__group
        margin-bottom 10px
        display flex
        flex-direction column

        &:last-child
            margin-bottom 0

    &__row
        margin-bottom 10px
        & ^[0]__group
            margin-left 5px
            margin-right 5px

            ^[0]__row_no-margin-sm&
                margin-bottom 0
                @media (max-width 600px)
                    margin-left 0
                    margin-right 0
                    margin-bottom 10px

            &:first-child
                margin-left 0

            &:last-child
                margin-right 0
        &_no-margin-sm
            @media (max-width 600px)
                margin-bottom 0

    &__control
        display block
        margin 0
        background white
        border 1px solid lightgrey
        height 25px
        color mainColorDark
        font-size .9rem
        padding 5px
        transition border ease-in-out .2s
        border-radius unset

        textarea&
            height auto

        &:focus
            outline unset
            border 1px solid mainColorLight
