html, body
  width 100%
  height 100%
  font-family Inter-Regular
  color mainColorDark
  font-size 20px

titles = h1
for i in 2..6
  titles[i] = 'h' + i

{join(', ', titles)}
  font-family Inter-Bold

push(titles, 'body', 'ul', 'p')

{join(', ', titles)}
  border 0
  margin 0
  padding 0

ul
  list-style none

h1
  font-size 36px

a, a:hover, a:active
  text-decoration none
  color mainColorDark

button, button:focus
  background-color unset
  outline none
  box-shadow none
  border none
  cursor pointer
  font-family Inter-Regular
  padding 0



